.heading {
    background-color: aqua;

}

.buttons{
    height: 50px;
    width: 100px;
    background-color: greenyellow;
    border-color: rgb(131, 194, 37);
    border-style: solid;
}

.buttons:hover{
    background-color: rgb(158, 233, 45);
}