.wrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 800px;
    width: 800px;
    background-color: rgb(212, 209, 209);
}

h1{
    font-size: 50px;
}

.numbers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px ;
    width: 700px;
    background-color: rgb(146, 145, 145);
    border-style: solid;
    border-width: 2px;
}

#firstNum{
    background-color: white;
    height: 100px;
    width: 200px;
}

input{
    width: 200px;
    height: 100px;
    font-size: 50px;
    
}

#secondNum{
    background-color: white;
    height: 100px;
    width: 200px;
}

.generate{
    border-style: solid;
    border-width: 2px;
    display: flex;
    justify-content: center;
    height: 200px;
    width: 700px;
}

button{
    width: 700px;
    font-size: 100px;
    background-color: rgb(146, 145, 145);
}

.display{
    border-style: solid;
    border-width: 2px;
    display: flex;
    height: 200px;
    width: 700px;
    background-color: rgb(146, 145, 145);
    justify-content: center;
    align-items: center;
}

output{
    font-size: 50px;
}